*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 60px;
}

h3{
	color: white;
	font-size: 20px;
	margin-bottom: 50px;
}

body{
	position: relative;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
	background-color: #101010;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}

.about-text-box{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

.work{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}

.work-heading h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

.work-flexbox{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}

button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.project{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card-style p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.card-style .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}

.card-style .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.contact-me{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

.contact-me ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}

.contact-me ul li a{
	color: #f9004d;
	text-decoration: none;
	font-weight: bold;
}

/* Button to be included later when I am able to do multiple webpages

/* .contact-me .contact-button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
} */

/* .contact-me .contact-button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
} */

footer{
	position: relative;
	width: 100%;
	height: 200px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: #f9004d;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}

@media screen and (max-width: 980px) {
    nav {
        justify-content: center;
        text-align: center;
      }
    
    nav h1 {
      width: 75%;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 6vw;
    }
  
    nav ul {
      justify-content: center;
    }
}